.titleLinkContainer {
  height:auto;
}

.titleContainer {
  height:auto;
}

.title {
  height:auto;
}

.summaryContainer {
  height:auto;
}

.summary {
  height:auto;
}

.btn-group {
  height:auto;
}

.btn {
  height:auto;
}